@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-bg: var(--color-black);
  --color-fg: var(--color-white);
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

.button {
  @apply p-1.5 px-4 text-fg/75 text-nowrap
  /* border border-fg/10 */
  flex items-center gap-1.5
  cursor-pointer
  hover:bg-fg/10
  active:bg-fg/12
}

.input {
  @apply border p-2 px-2.5 border-fg/20 
  
}